<div id="header">
  <h1><% user.username %></h1>
  <h2>registered - <% user.created %></h2>
</div>
<% IF profile %>
  <div>
    <img class="user_image" src="/user/<% user.username %>/image" />
    <h1><% user.username %></h1>
  </div>
<% ELSE %>
  <p>This user has not added a profile.</p>
<%  END %>
<% IF conf %>
  <p>Last config sync <% conf.modified %></p>
<% ELSE %>
  <p>This user has never uploaded their config.</p>
<% END %>
