# /*/META.yml
Padre-Plugin-Alarm/share/locale/*.mo
Padre-Plugin-Autoformat/lib/Padre/Plugin/Autoformat/share/locale/*.mo
Debug-Client/META.yml
Debug-Client/Makefile
Debug-Client/blib/
Debug-Client/inc/
Debug-Client/pm_to_blib
Padre-Plugin-CSS/share/locale/*.mo
Padre-Plugin-Catalyst/share/locale/*.mo
Padre-Plugin-ClassSniff/share/locale/*.mo
Padre-Plugin-CommandLine/share/locale/*.mo
Padre-Plugin-DataWalker/share/locale/*.mo
Padre-Plugin-Ecliptic/lib/Padre/Plugin/Ecliptic/share/locale/*.mo
Padre-Plugin-Mojolicious/share/locale/*.mo
Padre-Plugin-PAR/share/locale/*.mo
Padre-Plugin-Perl6/lib/Padre/Plugin/Perl6/share/locale/*.mo
Padre-Plugin-PerlCritic/share/locale/*.mo
Padre-Plugin-PerlTidy/share/locale/*.mo
Padre-Plugin-REPL/share/locale/*.mo
Padre-Plugin-SpellCheck/lib/Padre/Plugin/SpellCheck/share/locale/*.mo
Padre-Plugin-SpellCheck/share/locale/*.mo
Padre-Plugin-Vi/share/locale/*.mo

Padre/.padre/
Padre/META.yml
Padre/Makefile
Padre/Makefile.old
Padre/blib/
Padre/inc/
Padre/pm_to_blib
Padre/share/locale/*.mo

Padre-Plugin-CSS/Build
Padre-Plugin-CSS/MYMETA.yml
Padre-Plugin-CSS/_build/
Padre-Plugin-CSS/blib/

Padre-Plugin-Git/META.yml
Padre-Plugin-Git/Makefile
Padre-Plugin-Git/inc/

Padre-Plugin-Kate/META.yml
Padre-Plugin-Kate/Makefile
Padre-Plugin-Kate/inc/

Padre-Plugin-PSI/META.yml
Padre-Plugin-PSI/Makefile
Padre-Plugin-PSI/inc/

Padre-Plugin-Parrot/META.yml
Padre-Plugin-Parrot/Makefile
Padre-Plugin-Parrot/inc/

Padre-Plugin-Perl6/Build
Padre-Plugin-Perl6/_build/
Padre-Plugin-Perl6/MYMETA.yml

Padre-Plugin-PerlCritic/Makefile

Padre-Plugin-PerlTidy/META.yml
Padre-Plugin-PerlTidy/Makefile
Padre-Plugin-PerlTidy/README
Padre-Plugin-PerlTidy/inc/

Padre-Plugin-SVN/META.yml
Padre-Plugin-SVN/Makefile
Padre-Plugin-SVN/inc/

Padre-Plugin-Plack/share/locale/*.mo
Padre-Plugin-Plack/META.yml
Padre-Plugin-Plack/Makefile
Padre-Plugin-Plack/blib/
Padre-Plugin-Plack/inc/
Padre-Plugin-Plack/pm_to_blib

Hyppolit/META.yml
Hyppolit/Makefile
Hyppolit/inc

Padre-Plugin-HTMLExport/share/locale/*.mo

Perl-Staff/MANIFEST
Perl-Staff/META.yml
Perl-Staff/Makefile
Perl-Staff/blib/
Perl-Staff/inc/
Perl-Staff/pm_to_blib

template.padre.perlide.org/Build
template.padre.perlide.org/_build

Padre-Plugin-LaTeX/share/locale/*.mo

