use strict;
use warnings;

use File::Spec     ();
use File::Basename ();

BEGIN { 
	$ENV{HOME} = File::Basename::dirname( File::Basename::dirname(File::Spec->rel2abs($0)) );
}

use CPAN;

CPAN::Shell->install($ARGV[0]);

#use Data::Dumper;
#die Dumper $CPAN::Config;


